:root {
  --a: 0;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  color: white;
  /* overflow: hidden; */
}

.left {
  position: relative;
  width: 25vw;
  padding: 10px;
}

.home ul li {
  list-style: none;
  width: 15px;
  display: flex;
  gap: 15px;
  padding-top: 14px;
  font-weight: bold;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 18px 14px;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
}

.heading img {
  width: 30px;
}

.library {
  min-height: 79vh;
  position: relative;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  gap: 23px;
  position: absolute;
  bottom: 5px;
  /* padding: 10px 0px; */
}

.footer a {
  color: grey;
}

.right {
  width: 75vw;
  margin: 16px 0px;
  position: relative;
  /* overflow-x: hidden; */
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
  /* border-radius: 20px; */
}

.header > * {
  padding: 13px;
}

.nav {
  display: flex;
  align-items: center;
}

.spotifyPlaylist {
  padding: 5px;
}
.spotifyPlaylist > h1 {
  padding: 10px;
}

.cardContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 10px;
  max-height: 70vh;
  overflow: auto;
}

.card {
  position: relative;
  width: 175px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  cursor: pointer;
  transition: all 0.8s;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.card:hover {
  background-color: rgb(49, 49, 49);
  --a: 1;
}

.play {
  width: 28px;
  height: 28px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 110px;
  right: 16px;
  opacity: var(--a);
  transition: all 1s ease-out;
}

.buttons > * {
  margin: 0 12px;
}

.signupbtn {
  background-color: rgb(34, 34, 34);
  color: rgb(156, 148, 148);
  font-weight: bold;
  border: 0px solid;
}

.signupbtn:hover {
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.loginbtn {
  background-color: white;
  border: 0px solid;
  border-radius: 23px;
  color: black;
  font-size: 16px;
  padding: 10px;
  width: 79px;
  cursor: pointer;
}

.loginbtn:hover {
  font-weight: bold;
  font-size: 17px;
}

.playbar {
  position: fixed;
  bottom: 20px;
  filter: invert(1);
  background-color: #dad5d5;
  width: 71.5vw;
  padding: 12px;
  border-radius: 5px;
  min-height: 29px;
  margin: 0px 7px;
}

.songsbtn {
  display: flex;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
}

.songlist {
  height: 60vh;
  overflow: auto;
  margin-bottom: 44px;
}

.songlist ul {
  padding: 0 12px;
  font-size: 13px;
}

.songlist ul li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 33px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 5px;
  margin: 10px 0px;
}

.hamburger {
  display: none;
}

.songlist .info {
  font-size: 12px;
  width: 343px;
}

.playnow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.playnow {
  font-size: 10px;
  width: 64ox;
}

.seekbar {
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 98%;
  border-radius: 30px;
  background-color: black;
  margin: 6px;
  cursor: pointer;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 13px;
  background-color: black;
  position: relative;
  bottom: 3px;
  left: 0%;
  transition: left 0.5s;
}

.abovebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.songinfo,
.songtime {
  color: black;
  padding: 0px 12px;
  width: 130px;
}

.info div {
  word-break: break-all;
}

.timeVol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.volume {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.range input {
  cursor: pointer;
}

.close {
  display: none;
}

@media (max-width: 768px) {
  .left {
    position: absolute;
    left: -110%;
    transition: all 1s;
    z-index: 1;
    background-color: black;
    width: 90%;
  }

  .right {
    width: 100vw;
  }
  .library {
    min-height: 83vh;
  }

  .playbar {
    width: calc(100vw - 60px);
    margin: 0px 17px;
    border-radius: 20px;
  }
  .seekbar {
    width: calc(100vw - 70px);
  }

  .hamburger {
    display: inline-block;
    align-items: center;
    margin-right: 13px;
  }

  .close {
    display: block;
    position: absolute;
    right: 35px;
    top: 28px;
  }

  .cardContainer {
    justify-content: center;
    margin: 0px;
  }
  .card {
    width: 26vw;
  }

  .right {
    margin: 0px;
  }

  .abovebar {
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
  .songinfo,
  .songtime {
    width: auto;
  }
  .timeVol {
    flex-direction: column;
    gap: 5px;
  }
  .play {
    bottom: 110px;
    right: 2.5vw;
  }
}

@media (max-width: 612px) {
  .card {
    width: 37vw;
  }

  .left {
    position: fixed;
    top: 0px;
  }

  .cardContainer {
    max-height: unset;
    overflow: unset;
    margin-bottom: 20vh;
  }
  .play {
    bottom: 110px;
    right: 3.5vw;
    width: 17px;
    height: 17px;
  }
}
